 #gameContainer{
    text-align: center;
 } 
#gameBoard{
    border: 3px solid;
    color: red;
}
#scoreText{
 font-family: "Italic", cursive;
 font-size: 50px;
}
#resetBtn{
    font-family: Arial, cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}